.alert {
  background-color: black;
  border: 2px solid white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 7em 2.3em 0.7em 2.3em;
  padding: 0.7em 0em 0.2em 0em;
  top: 10%;

  width: 6em;
  color: #d20b0b;
  font-style:oblique;
  font-weight: bold;
  
}


.meter { 
    height: 5px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    position: relative;
    bottom: 0;
    background-color: #db0000;
    animation: progressBar 6s ease-in-out;
    animation-fill-mode:both; 
    width: 200%;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}